body {
    background-color: var(--tg-theme-bg-color);
}
h1 {
    color: var(--tg-theme-text-color);
}
p {
    color: var(--tg-theme-hint-color);
}
a {
    color: var(--tg-theme-link-color);
}
#connect-section {
    display: none;
}
#search-section {
    display: block;
}
#info-section {
    display: none;
}
#edit-section {
    display: none;
}
#settings-section {
    display: none;
}
